<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>signal</h1>
    <p>create signal, update, display</p>
</div>

<div class="row my-3">
    <div class="col-3">
        <h3>{{ firstName() }} - {{ course }}</h3>
    </div>
    <div class="col-3">
       <h3>FullName - {{ fullName() }}</h3>
        
    </div>
    <div class="col-3">
         <h3>{{ cityList() }}</h3>
    </div>

    <div class="col-3">
     <h3> {{ studentObj().name}} - {{studentObj().city }}</h3> 
    </div>

</div>

<div class="row my-3">
    <div class="col-3">
         <button class="btn btn-success" (click)="changeFirstName()"> Change Name</button>
    </div>
    <div class="col-3">
   <button class="btn btn-success" (click)="changeFirstName()"> Change First Name</button>
   <button class="btn btn-success" (click)="changeLastName()"> Change Last Name</button>
    </div>
       <div class="col-3">
<button class="btn btn-success" (click)="addCity()"> Add City</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="changeCity()"> Change City</button>
    </div>

</div>
