<div class="my-3 p-2 bg-secondary text-white rounded">
    <h2>signal</h2>
    <p>create signal, update, display</p>
</div>

<div class="row my-3">
    <div class="col-3">
        <h5>{{ firstName() }} - {{ lastName() }}</h5>
    </div>
    <div class="col-3">
        <h5>FullName - {{ fullName() }}</h5>
    </div>
    <div class="col-3">
        <h5>{{ cityList() }}</h5>
    </div>
    <div class="col-3">
        <h5> {{ studentObj().name}} - {{studentObj().city }}</h5>
    </div>
</div>

<div class="row my-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="changeFirstName()"> Change First Name </button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="changeLastName()"> Change Last Name </button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="addCity()"> Add City </button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="changeCity()"> Change City </button>
    </div>
</div>