<div class="row my-3">
    <div class="col-md-3">
        <label for="">Select State</label>
        <select class="form-select" [(ngModel)]="selectedState" (change)="onStateChange()">
            <option value="">Select State</option>
            @for (item of stateList; track $index){
            <option [value]="item.stateId">{{item.state}}</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <label for="">Select City</label>
        <select class="form-select">
            <option value="">Select City</option>
            @for (item of findCityList; track $index){
            <option [value]="item.cityId">{{item.city}}</option>
            }
        </select>
    </div>
</div>
