@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600");

* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", helvetica, arial, sans-serif;
  background: url("http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ===== Log Form ===== */

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

/* Responsive */
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0;
    transform: translate(0, 0);
  }
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}

.log-form h2 {
  width: 100%;
  color: #fff; /* lighten(#2a2a2a, 20%) */
  font-family: "open sans condensed";
  font-size: 1.35em;
  background: #2a2a2a;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1c1c1c; /* darken(#2a2a2a, 5%) */
  margin: 0;
  font-weight: 200;
}

.log-form input {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0 1.25em;
  border: none;
  border-bottom: 1px solid #eaeaea;
  color: #757575;
}

.log-form input:focus {
  outline: none;
}

/* ===== Button ===== */

.log-form .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1b9aa3; /* darken(#1fb5bf, 5%) */
  padding: 0.5em 2em;
  color: #ffffff;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.log-form .btn:hover {
  background: #24c5cf; /* lighten(#1fb5bf, 5%) */
}

.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btn:focus {
  outline: none;
}

/* ===== Forgot Password ===== */

.log-form .forgot {
  color: #3fd2db; /* lighten(#1fb5bf, 10%) */
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}

.log-form .forgot:hover {
  color: #1b9aa3; /* darken(#1fb5bf, 5%) */
}
